@media screen and (max-width: 795px){
    .footer{
        height: 600px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        gap: 90px;
    }
}

@media screen and (max-width: 751px){
    .footer{
        height: 550px;
    }
    .footer-col{
        width: 250px;
        height: 200px;
    }
    .row{
        gap: 2px;
    }
    .footer-col-1{
        padding: 0px 34px 0px 0px;
    }
    .footer-col-3{
        margin-top: 25px;
    }
    .footer-col-4{
        margin-top: 25px;
    }
}


@media screen and (max-width: 610px){
    .footer-col h4{
        font-size: 18px;
    }
    .footer-col-1 .about-us{
        font-size: 17px;
    }
    .footer-responsive li a{
        font-size: 17px;
    }
    .row{
        margin-left: 107px;
        width: 100%;
    }
}

@media screen and (max-width: 609px){
    .footer{
        height: 922px;
    }
}